.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
README.html
docs
inst/tinytest/_tinysnapshot_review/
inst/doc
marginaleffects.Rproj
*.code-workspace
book/_quarto.yml
*_files
_freeze
_book
site_libs
cover.png
book/articles/*.html
book/articles/*_files/
book/articles/*_cache/
altdoc/freeze.rds
^_quarto$
_quarto
_quarto/
!_quarto/_freeze/
vignettes/*html
src/*.so
src/*.o
_quarto/*
**/.quarto/
