@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*-- scss:defaults --*/
$link-color: #428CAF !default;
$code-color: "black" !default;
$font-family-sans-serif: 'Open Sans', sans-serif;

/*-- scss:rules --*/