__pycache__/
*.pyc
*.pyo
*.pyd
__pypackages__/
*.ipynb
*.DS_store
site/
debug.py
debug.R
build/

# Poetry files
/dist/
*.egg-info/
/.venv/
run.Rout

tests/images/.tmp*

objects.json

qmd_files/

trash.Rmd
trash.py
trash.R

.aider*
